@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply transition-colors duration-200;
}

html,body {
    overflow-x: hidden;
}

.slick-slide > div {
    margin: 0 10px;
}
.cartShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
