@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    overflow-x: hidden;
}

.slick-slide > div {
    margin: 0 10px;
}
.cartShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
